
/*----------------------- DVIT Menu -------------------*/
.openerp .oe_leftbar > div {
  max-width: 200px !important;
  width: 200px;
  line-height: initial !important;
}

.fix_icon_width {
  width: 45px !important;
}
.fix_icon_width:last-child div.cssmenu > .oe_secondary_menu {
  transition: 1s ease-in-out 1s;
  display: none;
  width: 0px;

  }
.fix_icon_width:last-child div.cssmenu:hover > .oe_secondary_menu {
    display: block !important;
    width: 200px;
    position: fixed;
    z-index: 2000 !important;
    left: 45px;
    margin-top: -40px !important;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    background-color: #FFF;
    overflow: scroll !important;
    top: 75px !important;
    bottom: 10px !important;
    height: calc(100% - 20px) !important;
    animation: fadein .7s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fix_icon_width .side_menu_heading {
  display: block;
  color: black;
    font-weight: 600 !important;
}
.openerp .oe_leftbar .cssmenu {
    border-bottom: 1px solid rgba(252, 252, 252, 0.18);
}
#oe_main_menu_navbar .menu-toogle #leftbar_toggle {
  float: right;
  font-size: 14px;
  color: #FFF;
  padding: 2px 8px;
  background-color: #4c4c4c;
  border-radius: 4px;
}
.menu-toogle {
  padding:0px !important;
  margin-bottom: 0px;
}
#oe_main_menu_navbar .menu-toogle #leftbar_toggle:hover {
    background-color: #2D5F8B;
}
.side_menu_heading {
  background-color: #d2d2ff !important;
  color: #FFF;
  padding: 12px 13px 12px 13px;
  margin: 0px;
  font-size: 13px;
  font-weight: normal !important;
  text-align: left;
  display: none;
  font-family: "Open Sans", sans-serif;
}
h3.menu_heading { 
  padding: 12px 10px 12px 15px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  cursor: pointer;
  font-weight: normal !important;
}
h3.menu_heading i {
  padding-right: 10px;
}
#oe_main_menu_navbar {
    min-height: 10px;
}
.navbar-nav > li > a {
    line-height: 20px !important;
}
#oe_main_menu_navbar li a {
    padding: 0px 8px 1px 8px !important;
}
h3.menu_heading {
    font-weight: bolder !important;
    background-color: #d2d2ff !important;
}
#oe_main_menu_navbar li a.ar_tray_icons {
    padding: 0px 0px 0px 0px !important;
}
.navbar-nav {
    margin: 0px !important;
    padding-right: 0px;
}
.navbar-header {
  display: none !important;
}

#oe_main_menu_placeholder{
  display: block !important;
}

/*.openerp .oe_leftbar > div > div > div{
  position: initial !important;
}*/

.openerp .oe_leftbar > div a.oe_logo img { display: none !important; }
